<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.whatsaga.whatsapplongerstatus.status.uploader">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="com.skype.raider" />
        <package android:name="com.google.android.gm" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:configChanges="fontScale"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:hardwareAccelerated="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.LongStatusRDM"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.SubscribeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.IntroScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.WebActivity"
            android:exported="false"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.StartActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.FirstTimeLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.AllPermissionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.status.DownloadsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.status.BusinessActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.status.WhatsappActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.DeletedMediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.smartkit.StyleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.smartkit.StylishTextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.smartkit.RepeaterListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.smartkit.TextRepeaterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.smartkit.EmojiListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.smartkit.EmojiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.status.StatusViewPager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.status.StatusMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.MediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".ui.activity.DirectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />

        <service
            android:name=".services.NLService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".services.MyService" />

        <activity
            android:name=".whatsaga.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".whatsaga.PrivacyActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".whatsaga.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".whatsaga.ShareActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".whatsaga.PermissionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".whatsaga.UploadActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />
        <activity
            android:name=".whatsaga.MainAppActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LongStatusRDM.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    </application>

</manifest>